/* Planning Calendar */

.sapMPlanCal {

    border-radius: 10px;

}

/* chiều cao row */

.sapMPlanCalRow {

    min-height: 72px;

}

/* Appointment */

.sapUiCalendarApp {

    border-radius: 6px;

}

/* khoảng cách */

.sapUiCalendarAppCont {

    padding: 4px;

}